* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading {
  padding: 20px;
}

main {
 width: 840px;
 padding-top: 50px;
 padding-bottom: 50px;
 margin: 0 auto;
}

.box1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #6c6b6b;
}

.box2 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #6c6b6b;
}

.box3 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #6c6b6b;
}

.box4 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #6c6b6b;
}